@import '../../global.scss';

.menu{
    width:300px;
    height:100vh;
    background-color:$mainColor;
    position:fixed;
    top: 0;
    right: -300px;
    z-index: 2;
    transition: all 1s ease;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

    &.active{
        right:0;
    }

    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        font-size:40px;
        font-weight: 300;
        color:white;
        width: 78%;

        li{
            margin-bottom:25px;
            a{
                font-size:inherit;
                color: inherit;
                text-decoration:none;
            }

            &:hover{ 
                font-weight:500;
            }
        }
    }
}